<!-- Page Footer-->
<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Patrick Salguero &copy;{{ currentYear }}  - Area51 Training Center </p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Desarrollo de Software
          <a target="_blank" href="https://github.com/patricksalguero/" class="external"> <i class="fa fa-github" aria-hidden="true"></i> patricksalguero</a>
        </p>
      </div>
    </div>
  </div>
</footer>
