 <!-- Page Header-->
 <header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Dashboard - {{ currentDate | date: 'fullDate' }}</h2>
  </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet">
            <i class="icon-user"></i>
          </div>
          <div class="title">
            <span>
              <br>Nuevos Clientes</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                class="progress-bar bg-violet"></div>
            </div>
          </div>
          <div class="number">
            <strong>25</strong>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-red">
            <i class="icon-padnote"></i>
          </div>
          <div class="title">
            <span>Ordenes
              <br>Compra</span>
            <div class="progress">
              <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                class="progress-bar bg-red"></div>
            </div>
          </div>
          <div class="number">
            <strong>70</strong>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green">
            <i class="icon-bill"></i>
          </div>
          <div class="title">
            <span>Facturas de
              <br>Ventas</span>
            <div class="progress">
              <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                class="progress-bar bg-green"></div>
            </div>
          </div>
          <div class="number">
            <strong>40</strong>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-orange">
            <i class="icon-check"></i>
          </div>
          <div class="title">
            <span>Porcentaje
              <br>Stock</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                class="progress-bar bg-orange"></div>
            </div>
          </div>
          <div class="number">
            <strong>50%</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Projects Section no-padding-top-->
<section class="projects ">
  <div class="container-fluid">

    <h3>Productos más vendidos</h3>

    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow">
              <img src="assets/proteins/proteint1.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <h3 class="h4">CARNIVOR 2,3 lbs – MuscleMeds</h3>
              <small>Carnivor: La primera proteína aislada de carne</small>
            </div>
          </div>
          <!-- <div class="project-date">
            <span class="hidden-sm-down">Vendidas</span>
          </div> -->
        </div>
        <div class="right-col col-lg-6 d-flex align-items-center">
          <div class="time">
            <i class="fa fa-clock-o"></i>Stock 50/60 </div>
          <div class="project-progress">
            <div class="progress">
              <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow">
              <img src="assets/proteins/proteint2.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <h3 class="h4">Elite Casein 2 lb – Dymatize</h3>
              <small>Elite Casein contiene 24 gr de proteínas.</small>
            </div>
          </div>
          <!-- <div class="project-date">
            <span class="hidden-sm-down">Today at 4:24 AM</span>
          </div> -->
        </div>
        <div class="right-col col-lg-6 d-flex align-items-center">
          <div class="time">
            <i class="fa fa-clock-o"></i> Stock 100/200 </div>
          <!-- <div class="comments">
            <i class="fa fa-comment-o"></i>20</div> -->
          <div class="project-progress">
            <div class="progress">
              <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow">
              <img src="assets/proteins/proteint3.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <h3 class="h4">Creatine Micronized 1000 gr – Dymatize</h3>
              <small>Monohidrato de creatina que son 20 veces más pequeñas que la creatina estándar.</small>
            </div>
          </div>
          <!-- <div class="project-date">
            <span class="hidden-sm-down">Today at 4:24 AM</span>
          </div> -->
        </div>
        <div class="right-col col-lg-6 d-flex align-items-center">
          <div class="time">
            <i class="fa fa-clock-o"></i>Stock 65 / 54 </div>
          <!-- <div class="comments">
            <i class="fa fa-comment-o"></i>20</div> -->
          <div class="project-progress">
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow">
              <img src="assets/proteins/proteint4.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <h3 class="h4">Amino Pro 30 serv – Dymatize</h3>
              <small>MÚSCULO + SOPORTE + HIDRATACIÓN</small>
            </div>
          </div>
          <!-- <div class="project-date">
            <span class="hidden-sm-down">Today at 4:24 AM</span>
          </div> -->
        </div>
        <div class="right-col col-lg-6 d-flex align-items-center">
          <div class="time">
            <i class="fa fa-clock-o"></i>Stock 30 / 45 </div>
          <!-- <div class="comments">
            <i class="fa fa-comment-o"></i>20</div> -->
          <div class="project-progress">
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




