extends parciales/layout

block contenido
	div.row
		div.col-6
			a.btn.btn-success(href="/formulario") Insertar
			table.table.table-hover.table-striped
				thead
					tr
						th ID
						th Nombre
						th Descripcion
				tbody
					each servidor in servidores
						tr
							td= servidor._id
							td= servidor.nombre
							td= servidor.descripcion