<div class="page login-page animated zoomIn">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>Shop51</h1>
              </div>
              <p>Comercio de Proteínas y Suplementos alimenticios.</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <h2 class="text-primary">Login</h2>
              <br>
              <style>
                .nonebg , .nonebg:disabled{
                  background: none;
                }
              </style>
              <form id="login-form" method="post" #form="ngForm" (ngSubmit)="login()">
                <div class="form-group">
                  <input
                  id="login-username"
                  [disabled]="loading"
                  type="email"
                  name="loginUsername"
                  autocomplete="off"
                  [(ngModel)]="user.email"
                  required
                  class="input-material nonebg">
                  <label for="login-username" class="label-material">Correo Electrónico</label>
                </div>
                <div class="form-group">
                  <input
                  id="login-password"
                  [disabled]="loading"
                  type="password"
                  name="loginPassword"
                  [(ngModel)]="user.password"
                  required
                  class="input-material nonebg">
                  <label for="login-password" class="label-material">Contraseña</label>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="form.invalid || loading">
                  Acceder <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </button>

                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
              <br>
              <small> ¿No tienes una cuenta? </small>
              <a (click)="goToRegister()" class="btn btn-link signup">Registrate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>Desarrollador por
      <i class="fa fa-github"></i>
      <a href="https://github.com/patricksalguero/shop51" class="external"> Patrick Salguero</a>
    </p>
  </div>
</div>
