<div class="page animated fadeIn" *ngIf="logueado" >
  <app-header></app-header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <app-nav></app-nav>
    </nav>
    <div class="content-inner">
      <!-- Router Outlet -->
      <router-outlet></router-outlet>
      <!-- Footer Page -->
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div *ngIf="!_authS.logueado && _authS.blogin " id="login">
  <app-login></app-login>
</div>

<div *ngIf="!_authS.logueado && !_authS.blogin" id="register">
  <app-register></app-register>
</div>
