<!-- Sidebar Header-->
<div class="sidebar-header d-flex align-items-center">
  <div class="avatar">
    <img src="assets/img/fotoPersonal.jpg" alt="..." class="img-fluid rounded-circle">
  </div>
  <div class="title">
    <h1 class="h4">Patrick Salguero</h1>
    <p>Analista Programador</p>
  </div>
</div>

<!-- Sidebar Navidation Menus-->
<span class="heading">Navegación</span>
<ul class="list-unstyled">
  <li routerLinkActive='active'>
    <a routerLink="/dashboard">
      <i class="fa fa-home"></i>Dashboard </a>
  </li>
  <li>
      <a routerLink="/dashboard">
        <i class="fa fa-shopping-cart"></i>Compras </a>
  </li >
  <li >
      <a routerLink="/dashboard">
        <i class="fa fa-cart-arrow-down"></i>Ventas </a>
  </li >

  <li routerLinkActive='active'>
    <a routerLink="/clients">
      <i class="fa fa-users"></i>Clientes </a>
  </li>
  <li routerLinkActive='active'>
    <a routerLink="/providers">
      <i class="fa fa-car"></i>Proveedores </a>
  </li>
  <li routerLinkActive='active'>
    <a routerLink="/products">
      <i class="fa fa-product-hunt"></i>Productos </a>
  </li>

  <li >
    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
      <i class="icon-interface-windows"></i>Reportes </a>
    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
      <li>
        <a href="#">Clientes</a>
      </li>
      <li>
        <a href="#">Proveedores</a>
      </li>
      <li>
        <a href="#">Productos</a>
      </li>
    </ul>
  </li>
</ul>

<span class="heading">Extras</span>
<ul class="list-unstyled">
  <li >
    <a routerLink="/dashboard">
      <i class="fa fa-wrench"></i>Configuración</a>
  </li>
  <li >
    <a routerLink="/dashboard">
      <i class="fa fa-info-circle"></i>Información</a>
  </li>
</ul>
