<!-- Sidebar Header-->
<div class="sidebar-header d-flex align-items-center">
  <div class="avatar">
    <img src="assets/img/fotoPersonal.jpg" alt="..." class="img-fluid rounded-circle">
  </div>
  <div class="title animated fadeIn" *ngIf="userLogin">
    <h1 class="h4">{{ userLogin.name }} {{ userLogin.lastname }}</h1>
    <p>Administrador</p>
  </div>
</div>

<!-- Sidebar Navidation Menus-->
<span class="heading">Navegación</span>
<ul class="list-unstyled">
  <li routerLinkActive='active'>
    <a routerLink="/dashboard">
      <i class="fa fa-home"></i>Dashboard <sup class="badge badge-rounded bg-green">Estático</sup></a>
  </li>
  <li>
      <a routerLink="/dashboard">
        <i class="fa fa-cart-plus"></i>Compras <sup class="badge badge-rounded bg-green">Faltante! </sup></a>
  </li >
  <li >
      <a routerLink="/dashboard">
        <i class="fa fa-cart-arrow-down"></i>Ventas <sup class="badge badge-rounded bg-green">Faltante! </sup></a>
  </li >

  <li routerLinkActive='active'>
    <a routerLink="/clients">
      <i class="fa fa-users"></i>Clientes <sup class="badge badge-rounded bg-red">Completado! </sup></a>
  </li>
  <li routerLinkActive='active'>
    <a routerLink="/providers">
      <i class="fa fa-car"></i>Proveedores <sup class="badge badge-rounded bg-green">Faltante! </sup></a>
  </li>
  <li routerLinkActive='active'>
    <a routerLink="/products">
      <i class="fa fa-product-hunt"></i>Productos <sup class="badge badge-rounded bg-green">Faltante! </sup></a>
  </li>

  <li >
    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
      <i class="icon-interface-windows"></i>Reportes </a>
    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
      <li>
        <a href="#">Clientes</a>
      </li>
      <li>
        <a href="#">Proveedores</a>
      </li>
      <li>
        <a href="#">Productos</a>
      </li>
    </ul>
  </li>
</ul>

<span class="heading">Extras</span>
<ul class="list-unstyled">
  <li >
    <a routerLink="/dashboard">
      <i class="fa fa-wrench"></i>Configuración</a>
  </li>
  <li >
    <a routerLink="/dashboard">
      <i class="fa fa-info-circle"></i>Información</a>
  </li>
</ul>
